@import "../../.cache/wal/colors-waybar.css";

@define-color bg rgba(20, 20, 20, 0.7);
@define-color gold @color3;
@define-color teal @color5;
@define-color text @foreground;

/* Hyprland Mac-Style Parity */
* {
    font-family: "BigBlueTermPlus Nerd Font", "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

/* Island Modules */
#workspaces, #clock, #network, #cpu, #memory, #pulseaudio, #battery, #tray, #custom-menu {
    background: @bg;
    padding: 2px 15px;
    margin: 4px 4px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* The Integrated Waybar Dock (Left side) */
#taskbar {
    background: rgba(5, 5, 5, 0.8);
    margin: 4px;
    padding: 2px 8px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#taskbar button {
    padding: 0px 8px;
    border-radius: 12px;
}

#taskbar button.active {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid @teal;
}

#workspaces button {
    padding: 0px 8px;
    color: #a0a0a0;
    border-radius: 12px;
}

#workspaces button.active {
    color: @gold;
    background: rgba(255, 255, 255, 0.1);
}

/* Status colors */
#clock { color: @teal; }
#network { color: @gold; }
#cpu { color: @teal; }
#memory { color: @gold; }
#pulseaudio { color: @teal; }
#battery { color: @gold; }
#custom-menu { color: @gold; }
